@font-face {
    font-family: normal;
    src: url(Silkscreen.ttf);
}

html {
    height: 100%
}

body {
    background-color: #eeeeee;
    color: #000000bb;
    font-family: normal;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

p {
    font-size: 16px;
    margin: 0;
}



#left-container {
    color: #000000CC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 150px;
}

#gold-container {
    align-items: center;
    display: flex;
    margin-left: 10px;
}

#gold-color {
    background-color: #ffdf00;
    border-radius: 50%;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

#exp-container {
    align-items: center;
    display: flex;
    margin-left: 10px;
}

#exp-color {
    background-color: #9900ff;
    border-radius: 50%;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

#material-container {
    align-items: center;
    display: flex;
    margin-left: 10px;
}

#material-color {
    background-color: #000080;
    border-radius: 50%;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

#twitter {
    align-items: center;
    display: flex;
    font-size: 14px;
}

#twitter img {
    height: 32px;
    width: 32px;
}

#twitter a {
    color: #00000099;
    text-decoration: none;
}

#twitter a:visited {
    color: #00000099;
    text-decoration: none;
}

#center-container {
    background-color: #101010;
    color: #ffffffee;
    flex-grow: 2;
}

.floor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.monsters-container {
    display: flex;
    align-items: center;
}

.monster {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
}

.heroes-container {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px
}

.hero p {
    margin: 0;
}

.lvl {
    font-size: 12px;
}



#right-container {
    width: 300px;
}

#right-top-buttons {
    border-bottom: 1px solid #00000066;
    display: flex;
    height: 48px;
}

.right-button {
    height: 48px;
    text-align: center;
    width: 100px;
}

.right-button:hover {
    cursor: pointer;
}

.right-button p {
    margin-top: 16px;
}

.selected {
    background-color: #aaaaaa;
    color: #000000
}

#monsters-button {
    border-left: 1px solid #00000066;
    border-right: 1px solid #00000066;
}

#dungeon-upgrade-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dungeon-upgrade-box {
    align-items: center;
    display: flex;
    margin-top: 25px;
}

.upgrade-icon {
    border: 1px solid #000000cc;
    height: 50px;
    width: 50px;
}

.upgrade-list {
    margin-left: 24px;
}

.dungeon-upgrade-box p {
    width: 200px;
}

#monsters-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.monster-floor {
    margin-top: 25px;
}

button {
    background-color: #00000000;
    border: 2px solid #00aa00;
    font-family: normal;
    height: 20px;
    text-decoration: none;
}

button.available:active {
    background-color: #00aa00aa;
}

button.unavailable {
    border: 2px solid #000000aa;
}

button.available {
    border: 2px solid #00aa00aa;
}

.popup {
    font-size: 20px;
    position: fixed;
}

#floor1-mdamage {
    color: #dd0000;
    top: 7px;
    display: none;
}

#floor1-hdamage {
    color: #42A5F5;
    top: 7px;
    display: none;
}
