:root {
    /* Colors */
    --blue: #489FDF;
    --gray: #272727;
    --white: #ffffff;

    /* Fonts */
    --serif: 'DM Serif Display';
    --sans-serif: 'Squada One'
}

html, body {
    margin: 0;
    padding: 0;
}

/* Nav */

nav {
    background: var(--blue);
    color: var(--white);

    display: flex;

    position: fixed;
    width: 100vw;
    height: 48px;
    padding: 0 16px;
    top: 0;

    z-index: 100;

    transition: background 0.15s ease-in
}

nav h1 {
    cursor: pointer;

    font-family: var(--serif);
    line-height: 48px;

    margin: 0;
    transition: color 0.15s ease-in;
}

nav h1 .small {
    font-size: 12px;
}

/* Sections */

.section {
    background: var(--white);
    color: var(--gray);

    width: 100vw;
    height: 100vh;

    box-sizing: border-box;

    position: relative;
}

.section h1 {
    font-family: var(--serif);

    margin: 0;
}

.section h2 {
    font-family: var(--serif);

    margin: 0;
}

.section p {
    font-family: var(--sans-serif);

    margin: 0;
}

/* Header section */

#border {
    background-image: url(imgs/hero.jpg);
    background-size: cover;
    background-position: 80% 50%;
    border-right: 16px solid var(--blue);
    border-bottom: 48px solid var(--blue);
    border-left: 16px solid var(--blue);

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    min-height: 50vh;
    margin-top: 48px;
    padding: 32px 32px 0 33vw;
}

#border > * {
    padding: 8px 32px;
}

#border h1 {
    background: var(--gray);
    color: var(--white);

    margin-bottom: 8px;
}

#border p {
    background: var(--white);
    color: var(--gray);

    font-size: 16px;
}