html {
	height: 100vh;
	position: relative;
}

body {
	background-color: #272727;
	font-family: 'Barlow Semi Condensed';
	margin: 0;
	height: 100vh;
	padding: 0;
}

button {
	background-color: #00000000;
	border: 2px solid #ffffff10;
	border-radius: 3px;
	color: #ffffffa1;
	cursor: pointer;
	font-family: 'Staatliches';
	padding: 5px;
}

#center-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 100px;
	width: 600px;
	z-index: 0;
}

#time {
	color: #ffffffa1;
	font-size: 64px;
	margin: 0;
	z-index: inherit;
}

#greeting {
	color: #ffffffa1;
	font-size: 32px;
	margin:	 0;
	z-index: inherit;
}

#date {
	color: #ffffff69;
	font-size: 18px;
	margin: 0;
	z-index: inherit;
}

#weather {
	color: #ffffff69;
	font-size: 18px;
	margin: 0;
	margin-bottom: 10px;
	z-index: inherit;
}

#search {
	background-color: #ffffff10;
	border-width: 0;
	border-style: solid;
	color: #ffffffa1;
	font-family: 'Barlow Semi Condensed';
	font-size: 24px;
	margin-top: 4px;
	padding: 10px;
	width: 580px;
	z-index: -1;
}

#links {
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 20px;
	padding: 0;
	width: 600px;
}

a {
	color: #ffffffa1;
	font-size: 24px;
	text-decoration: none;
	margin: 10px;
}

#links a:first-child{
	color: #64B5F6;
}

a:visited {
	text-decoration: none;
}

#add {
	color: #ffffffa1;
	cursor: pointer;
	font-size: 24px;
	top: 20px;
	left: 30px;
	margin: 0;
	position: absolute;
	z-index: 0;
}

#add-container {
	align-items: center;	
	background-color: #272727; 
	display: flex;
	float: left;
	font-family: 'Barlow Semi Condensed';
	justify-content: center;
	height: 70px;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
	z-index: 1000;
}

#add-container input {
	background-color: #ffffff10;
  border: none;
  border-radius: 5px;
	color: #64B5F6;
	font-family: 'Barlow Semi Condensed';
	font-size: 20px;
	padding: 10px;
	width: 200px;
	z-index: inherit;
	margin: 0 10px 0 10px;
}

#add-container p {
	color: #ffffffa1;
	margin: 0;
	z-index: inherit;
}

#add-container button {
	z-index: inherit;
}

#edit {
	color: #ffffffa1;
	cursor: pointer;
	float: right;
	position: absolute;
	right: 30px;
	top: 20px;
	z-index: 0;
}

#edit-container {
	background-color: #272727;
	display: flex;
	flex-direction: column;
	float: right;
	font-family: 'Barlow Semi Condensed';
	min-height: 100vh;
	padding: 0px 25px 0px 25px;
	width: 300px;
	z-index: 10;
}

#edit-container div {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	z-index: inherit;
}

#edit-container div p {
	color: #ffffffa1;
	margin: 5px 0 10px 0;
	z-index: inherit;
}

#edit-container div:first-child {
	margin-top: 25px;
}

#edit-container div p:first-child {
	color: #64B5F6;
	margin: 0;
}

#edit-container div button {
	width: 50px;
	z-index: inherit;
}