html {
	height: 100vh;
	position: relative;
}

body {
	background-color: #272727;
	font-family: 'Quicksand';
	margin: 0;
	height: 100vh;
	padding: 0;
}

button {
	background-color: #00000000;
	border: 2px solid #212122;
	color: white;
	cursor: pointer;
	font-family: 'Staatliches';
	padding: 5px;
}

#center-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 100px;
	width: 400px;
	z-index: 0;
}

#time {
	color: white;
	font-size: 64px;
	margin: 0;
	z-index: inherit;
}

#greeting {
	color: white;
	font-size: 32px;
	margin:	 0;
	z-index: inherit;
}

#date {
	color: #ffffffcc;
	font-size: 18px;
	margin: 0;
	margin-bottom: 10px;
	z-index: inherit;
}

#center-container input {
	background-color: #212121;
	border-width: 0;
	border-style: solid;
	color: #F06292;
	font-family: 'Quicksand';
	font-size: 24px;
	margin-top: 2px;
	padding: 10px;
	width: 380px;
	z-index: -1;
}

#links {
	align-self: flex-start;
	color: #ffffffcc;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 400px;
	margin-top: 20px;
	padding: 0;
	text-align: center;
	width: 400px;
}

a {
	color: rgb(189, 220, 245);
	font-size: 24px;
	text-decoration: none;
	margin: 10px;
}

#links a:first-child{
	color: #64B5F6;
}

a:visited {
	text-decoration: none;
}

#add {
	color: #ffffffcc;
	cursor: pointer;
	font-size: 24px;
	top: 20px;
	left: 30px;
	margin: 0;
	position: absolute;
	z-index: 0;
}

#add-container {
	align-items: center;	
	background-color: #272727; 
	box-shadow: 0px 0px 10px #00000069;
	display: flex;
	float: left;
	font-family: 'Quicksand';
	justify-content: space-evenly;
	height: 50px;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
	z-index: 1000;
}

#add-container input {
	background-color: #212121;
	border: none;
	color: #64B5F6;
	font-family: 'Quicksand';
	padding: 10px;
	width: 125px;
	z-index: inherit;
}

#add-container p {
	color: #ffffffcc;
	margin: 0;
	z-index: inherit;
}

#add-container button {
	z-index: inherit;
}

#edit {
	color: #ffffffcc;
	cursor: pointer;
	float: right;
	position: absolute;
	right: 30px;
	top: 20px;
}

#edit-container {
	background-color: #272727;
	box-shadow: 0px 0px 10px #00000069;
	display: flex;
	flex-direction: column;
	float: right;
	font-family: 'Quicksand';
	min-height: 100vh;
	padding: 0px 25px 0px 25px;
	width: 300px;
	z-index: 100;
}

#edit-container div {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	z-index: inherit;
}

#edit-container div p {
	color: #ffffffcc;
	margin: 0;
	z-index: inherit;
}

#edit-container div:first-child {
	margin-top: 25px;
}

#edit-container div p:first-child {
	color: #64B5F6;
}

#edit-container div button {
	width: 50px;
	z-index: inherit;
}