body {
    background-color: #efefef;

    margin: 0;
    padding: 0;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

#nav {
    background-color: #212121;
    color: white;
    font-family: 'B612';
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    
    width: 100vw;
    height: 32px;
    padding: 16px 24px 16px 24px;
    z-index: 100;
}

#nav h1 {
    cursor: pointer;
    float: left;
    font-size: 32px;
    line-height: 32px;

    margin-right: 10px;
}

#nav i {
    visibility: hidden;
}

#nav a {
    background-color: #ffffff00;
    border: white solid 2px;
    display: block;
    margin-left: 16px;
    text-align: center;

    padding: 5px;
    width: 64px;

    transition: all 0.2s ease-in-out;
}

#nav a:hover {
    background-color: white;
    color: #212121;
    cursor: pointer;
}

#heroImage {
    background-image: url("pics/hero.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

#heroImage h1 {
    background-color: #212121;
    color: white;
    line-height: 48px;
    text-align: center;

    margin-bottom: 10vh;
    padding: 16px;
}

p {
    margin: 0;
    padding: 0;
}

p.fadedText {
    color: #00000069;
}

h2 {
    line-height: 32px;
    margin: 0 24px 24px;
}

.fadeFromLeft {
    opacity: 0.05;
    transform: translateX(-100px);
    transition: all 0.9s ease-in-out;
}

.fadeFromRight {
    opacity: 0.05;
    transform: translateX(100px);
    transition: all 0.9s ease-in-out;
}

.headShot {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px #00000042;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Noto Serif';
    text-align: center;

    width: 256px;
    height: 320px;
    padding: 15px;

    transition: all 0.7s ease-in-out;
    opacity: 0;
    transform: translateY(100px);
}

.headShot .headShotImg {
    width: 192px;
    height: 192px;
    background-size: cover;
    border-radius: 50%;
}

.isShowing {
    opacity: 1;
    transform: translateY(0px);
}

.grid3Sec {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-gap: 16px;
    justify-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.limit {
    overflow: hidden;

    background-color: #efefef;
    font-family: 'Noto Serif';
    line-height: 24px;
    text-align: justify;
    
    max-width: 768px;
    margin: 30px auto 0px auto;
    padding: 0 40px
}


.limit .divider {
    background-color: #00000042;

    width: 80%;
    height: 1px;
    margin: 20px auto 15px auto;
}

.full {
    background-color: #efefef;
    width: 100%;
    margin-top: 20px;
}

#content {
    background-color: #efefef;
    width: 100%;
    margin-bottom: 100px;
    padding-bottom: 25px;
    box-shadow: 0px 10px 60px -5px #000000aa;
}

#footer {
    background-color: #424242;
    color: #ffffff69;
    font-family: 'B612';
    line-height: 100px;
    text-align: center;

    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

#footer a {
    color: #ffffffaa;
}

#footer a:hover {
    color: #ffffffee
}

@media screen and (max-width: 1024px) {
    #nav {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 125px));
        grid-auto-flow: row;
        grid-gap: 15px;
        justify-content: center;
        justify-items: center;
        align-content: center;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        position: absolute;
        float: left;
    }

    #navTitle {
        grid-column: 1 / -1;
    }

    #nav * {
        text-align: center;
        margin: 0px 0px;
    }

    .grid3Sec {
        grid-template-columns: 1fr;
        grid-gap: 25px;
        width: 100vw;
    }

    .grid3Sec > * {
        width: 50vw;
    }
}
